* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Footer Section */
footer {
    height: 60vh;
    background-color: bisque;
}

.footer-section-1 {
    height: 60%;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-sec-1-container {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}
.foot-sec-1-container h2 {
    color: #ffffff;
    font-family: "AvantGarde Bold", Sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: -0.04px;
}
.foot-sec-icons a {
    text-align: center;
}
.foot-sec-icons i {
    color: #FFFFFF;
    width: 48px;
    font-size: 23px;
    border: 2px solid red;
    padding: 11px;
    border-radius: 50%;
}
.foot-sec-icons span {
    margin-right: 10px;
}
.foot-sec-btn {
    color: #FFF;
    font-weight: bold;
    border: 2px solid red;
    padding: 18px 33px;
}

.footer-section-2 {
    height: 25%;
    background-color: #161616;
}

.footer-section-3 {
    font-size: 16px;
    height: 15%;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-section-3 p {
    margin-left: 20px;
    font-weight: 100;
    color: #747369;
}
.footer-section-3 p strong{
    font-weight: 100;
    color: #FFF7CF;
}
.footer-section-3 ul {
    margin-right: 20px;
    display: flex;
    gap: 20px;
}
.footer-section-3 ul a {
    font-weight: 100;
    color: #FFF7CF;
}